<div class="panel panel-warning">
  <div class="panel-heading">
    <h3 class="panel-title">Chuyển vị</h3>
  </div>
  <div class="panel-body">
    <div id="parentChuyenVi">
      <div id="chuyenVi" class="canvas responsive-canvas"></div>
    </div>

  </div>
</div>

<div class="panel panel-warning">
  <div class="panel-heading">
    <h3 class="panel-title">Vận tốc</h3>
  </div>
  <div class="panel-body">
    <div id="parentVanToc">
      <div id="vanToc" class="canvas responsive-canvas"></div>
    </div>
  </div>
</div>

<div class="panel panel-warning">
  <div class="panel-heading">
    <h3 class="panel-title">Gia tốc</h3>
  </div>
  <div class="panel-body">
    <div id="parentGiaToc">
      <div id="giaToc" class="canvas responsive-canvas"></div>
    </div>
  </div>
</div>