<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Question Importer</title>

<meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'/>

<!-- Bootstrap Core CSS -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="/library/webjars/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" media="screen" th:href="@{/resources/hansontable/handsontable.full.css}"/>
<th:block th:include="fragments/css"></th:block>

</head>
<body>
  <th:block th:include="fragments/home"></th:block>
  <th:block th:include="fragments/footer"></th:block>

<!-- jQuery library -->
<script src="/library/webjars/jquery/3.4.1/dist/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="/library/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!--  Define Library Handsontable -->
<script th:src="@{/resources/hansontable/handsontable.full.min.js}" type="text/javascript">
</script>

<!-- <th:block th:include="fragments/js"></th:block> -->
<script src="/sakai-content-tool/js/jstree/dist/jstree.min.js"></script>
<script th:src="@{/resources/js/import-question.js}" type="text/javascript">
</script>



</body>
</html>