/* Refer code of icons at: http://astronautweb.co/snippet/font-awesome */
.icon-sakai--sakai-this-is-ignore:before {
    content: "\f0ce";
    font-family: FontAwesome;
}

.icon-sakai--sakai-question-importer:before {
    content: "\f0ce";
    font-family: FontAwesome;
}

.icon-sakai--sakai-scorm-tool:before {
    content: "\f04b";
    font-family: FontAwesome;
}

.icon-sakai--sakai-toeic:before {
    content: "\f19d";
    font-family: FontAwesome;
}

.icon-sakai--sakai-sakai-xapi-player:before {
    content: "\f02d";
    font-family: FontAwesome;
}

.icon-sakai--sakai-konva2d-chart:before {
    content: "\f1fe";
    font-family: FontAwesome;
}