<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Test Toeic</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Style -->
<link href="resources/css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
<link href="resources/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all">
<link href="http://fonts.googleapis.com/css?family=Cabin:400,500,600,700" rel="stylesheet" type="text/css">
<link href="resources/css/mystyle.css" rel="stylesheet" type="text/css" media="all">	
</head>
<body>

    <div th:replace="~{fragments/header :: header}">Header</div>
	<div class="container">
		<h2>THE TOEIC TEST</h2>
		<div id="start_page">
			<div class="contain text-center">
				<div id="info_toeic" class="info-toeic">
				</div>
				<div class="info-test jumbotron">
					<p>Based on the TOEIC test structure, this test has a total of 7 sections, including 4 Listening sections and 3 Reading sections.</p>
					<p>The results of this test are assessed on the basis of the TOEIC score method. The scores you receive will not guarantee your actual TOEIC score, but will more or less reflect the likelihood of achieving an equivalent score.</p>
					<p class="note">Note: To be honest, you should try to complete the exam within 120 minutes.</p>
				</div>
				<a id="start_test" class="btn btn-primary btn-lg">Start</a>
				<button type="button" class="btn btn-danger btn-lg hidden" id="newTest" data-toggle="modal" data-target="#confirm-reset">New Test</button>
			</div>
		</div>
		<div id="test_page" class="hidden">
			<div class="toeic-clock text-center">
				<button data-toggle="collapse" class="btn btn-info" data-target="#time-remain-area">Show/Hide Time</button>

				<div id="time-remain-area" class="collapse in">
					Time remaining: <span id="time_remain">120:00</span>
				</div>
			</div>
			<div class="toeic-contain">
				<div class="row">
					<!-- question area -->
					<div class="col-sm-8 question-area">
						<div class="area-part" id="question_contain">
						</div>
<!-- 						<div class="multi-question" id="multi_question">
						</div> -->

						<div class="toeic-btn text-center">
							<button type="button" class="btn btn-default hidden" id="backBtn">BACK</button>
							<button type="button" class="btn btn-default" id="nextBtn">NEXT</button>
							<button type="button" class="btn btn-success hidden" id="submitBtn" data-toggle="modal" data-target="#confirm-submit">SUBMIT</button>
						</div>
						
					</div> <!-- end col 8 -->
					
					<!-- answer area -->
					<div class="col-sm-4">
						<div class="title-part">
							<h3 class="text-center">Answer sheet</h3>
						</div>
						<div id="answer_sheet" class="answer-area">
							
						</div>
						<div class="btnGroup">
							<button type="button" class="btn btn-danger" id="resetBtn" data-toggle="modal" data-target="#confirm-reset">RESET</button>
							<button type="button" class="btn btn-success" id="submitBtn" data-toggle="modal" data-target="#confirm-submit">SUBMIT</button>
						</div>
					</div> <!-- end col 4 -->
					
				</div>
			</div>
		</div>
	</div>
	<div id="result_page" class="jumbotron text-center hidden">
		<h1>SCORE: 900</h1>
	</div>
    <div th:replace="~{fragments/footer :: footer}">Footer</div>
        
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script type="text/javascript" src="resources/js/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="resources/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="resources/js/data_toeic.js"></script>
    <script type="text/javascript" src="resources/js/adapter.js"></script> 
    <script type="text/javascript" src="resources/js/toeic.js"></script>
    <script type="text/javascript" src="resources/js/myjs.js"></script> 
</body>
</html>