<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Objective Key Result-OKR</title>
<!-- Latest compiled and minified CSS -->
</head>
<body>
    <div class="container">
        <div class="text-center">
            <div class="lead">Welcome to the Objective Key Result-OKR.</div>

            <p>
                <a href="fill-objective" class="btn btn-success btn-lg">Fill In Your Objectives</a>
            </p>
        </div>
    </div>

</body>
</html>