<p>- Increase data progressing performance.</p>
<p>- Change auto load and store question data to: load from assessment last visited past (1 if new) to 7.</p>
<p>- Change auto save answers from only save answers to save assessment's data and user's answers.</p>
<h4>UI/UX</h4>
<p>- Add release notes.</p>
<p>- Change display of question number button's tooltip in question text.</p>
<p>- Remove button blue outline.</p>
<p>- Start button text change to 'Resume' if the assessment unfinished.</p>
<p>- Submit answer now require user confirmation.</p>
<h4>FIX BUGS</h4>
<p>- Can not export result in Firefox browser.</p>
<p>- Export result's data not match with user selected answers.</p>
<p>- Dialogs & toolbar not show up in full screen mode.</p>
<p>- Conversion chart & Instruction manual dialog show up in small size before hit start test.</p>
<p>- Not wait load and store question data to finish before display the question.</p>