<!-- Modal -->
<div class="modal fade" id="dlgConfirm" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="confirmModalTitle"></h4>
            </div>
            <div class="modal-body">
                <p id="confirmTitle"></p>
                <p id="questionNum"></p>
            </div>
            <div class="modal-footer">
                <button onclick="checkSubmit()" type="button" class="btn btn-success" data-dismiss="modal" id="submitModalBtn">Submit</button>
                <button type="button" class="btn btn-info" data-dismiss="modal" id="cancelModalBtn">Cancel</button>
            </div>
        </div>

    </div>
</div>