<div class="modal fade bd-search-product-modal-lg" id="rNotes" tabindex="-1"
    role="dialog" aria-labelledby="selectSearchProductModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" style="color: black !important; opacity: 1 !important;" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Release notes</h4>
            </div>
            <div class="modal-body">
                <div style="border-bottom: 2px;border-bottom-style: solid;">
                    <h3>Version: 1.0-RC52-20181221-</h3>
                    <div style="margin-left: 20px">
                    <h4>FIX BUGS</h4>
                    <p>- Time remaining show at test page before hit start button is not sync.</p>
                    </div>
                </div>
                <div style="border-bottom: 2px;border-bottom-style: solid;">
                    <h3>Version: 1.0-RC52-20181205-</h3>
                    <div style="margin-left: 20px">
                    <p>- Export result now support column 'ANSWER'.</p>
                    <h4>FIX BUGS</h4>
                    <p>- Time elapsed = null if auto submit.</p>
                    </div>
                </div>
                <div style="border-bottom: 2px;border-bottom-style: solid;">
                    <h3>Version: 1.0-RC52-20181129-fcbf726f</h3>
                    <div style="margin-left: 20px">
                        <p>- Increase data progressing performance.</p>
                        <p>- Add config file for countdown 10s auto save after user choose answer.</p>
                        <h4>UI/UX</h4>
                        <p>- Change clear alert button position.</p>
                        <p>- Disable text selection, cut, copy, paste (for EXAM mode only).</p>
                        <p>- [FWACTCFTC-10237] Disable tab for input radio.</p>
                        <p>- [FWACTCFTC-10227] Add animation for scrolling</p>
                        <p>- [FWACTCFTC-10220, FWACTCFTC-10168]</p>
                        <h4>FIX BUGS</h4>
                        <p>- [FWACTCFTC-10216] Can choose answer when click on blank area.</p>
                        <p>- [FWACTCFTC-10231] Can choose answer after auto submit.</p>
                        <p>- Mobile device's screen focus on answer sheet after next or back to previous question.</p>
                    </div>
                </div>
                <div style="border-bottom: 2px;border-bottom-style: solid;">
                    <h3>Version: 1.0-RC49-20181127-d7a5831a</h3>
                    <div style="margin-left: 20px">
                        <p>- Remove data of column 'ANSWER' from exported file.</p>
                        <p>- [FWACTCFTC-10215] Add question section and answer sheet section responsive.</p>
                        <h4>UI/UX</h4>
                        <p>- [FWACTCFTC-10214] Add remove alert message button.</p>
                        <p>- Hide column 'ANSWER' in result detail dialog.</p>
                        <h4>FIX BUGS</h4>
                        <p>- Not show error alert message when export result fail.</p>
                        <p>- Show result detail not correct.</p>
                    </div>
                </div>

                <div style="border-bottom: 2px;border-bottom-style: solid;">
                    <h3>Version: 1.0-RC48-20181126-94220f62</h3>
                    <div style="margin-left: 20px">
                        <p>- Time elapsed will be continue to count even when the website is closing (for EXAM mode).</p>
                        <h4>UI/UX</h4>
                        <p>- Remove small loading icon on the right side of submit button.</p>
                        <h4>FIX BUGS</h4>
                        <p>- [FWACTCFTC-10182] Question numbers in question text at part 6 not sync with small question number.</p>
                        <p>- Auto submit is not functionable</p>
                    </div>
                </div>

                <div>
                    <h3>Version: 1.0-RC47-20181122-d0d4951d</h3>
                    <div style="margin-left: 20px">
                        <p>- Increase data progressing performance.</p>
                        <p>- Change auto load and store question data to: load from assessment last visited past (1 if new) to 7.</p>
                        <p>- Change auto save answers from only save answers to save assessment's data and user's answers.</p>
                        <h4>UI/UX</h4>
                        <p>- Add release notes.</p>
                        <p>- Change display of question number button's tooltip in question text.</p>
                        <p>- [FWACTCFTC-10165] Remove button blue outline.</p>
                        <p>- Start button text change to 'Resume' if the assessment unfinished.</p>
                        <p>- Submit answer now require user confirmation.</p>
                        <h4>FIX BUGS</h4>
                        <p>- [FWACTCFTC-10162] Can not export result in Firefox browser.</p>
                        <p>- [FWACTCFTC-10174] Export result's data not match with user selected answers.</p>
                        <p>- [FWACTCFTC-10145, FWACTCFTC-10152] Dialogs & toolbar not show up in full screen mode.</p>
                        <p>- Conversion chart & Instruction manual dialog show up in small size before hit start test.</p>
                        <p>- Not wait load and store question data to finish before display the question.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>