svg {
    margin-left: 50px;
    display: inline-block;
    position: relative;
    max-width: 100%;
    vertical-align: middle;
    overflow: hidden;
    background-color: #fff;
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
    box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
}
.disable {
    background: #a6bbb1 !important;
}

.circle-ticks text {
    font-size: 12px;
    fill: #484848;
    /* font-weight: bold; */
}

.title-chart  {
    color: #e1192c;
    fill: #e1192c;
    font-size: 25px !important;
    font-weight: bold;
    text-align: center;
    margin: 10px 0;
    text-transform: capitalize;
}

.load-file {
    margin: 10px;
    text-align: center;
}
.side p {
    font-size: 12px;
    font-weight: bold;
}

path.line {
    animation: bounceIn 2s forwards;
    /* animation-delay: 1s; */
}
text.title-chart {
    animation: bounceInDown 1.5s forwards;
}

circle {
    animation: jackInTheBox 3s;
}

.circle-ticks, .line-ticks {
    animation: fadeIn 2s;
}

