  <div class="header-navbar navbar-expand-sm navbar navbar-horizontal navbar-fixed navbar-light navbar-without-dd-arrow navbar-bordered navbar-shadow"
  role="navigation" data-menu="menu-wrapper">
    <!-- Horizontal menu content-->
    <div class="navbar-container main-menu-content" data-menu="menu-container">
      <!-- include ../../../includes/mixins-->
      <ul class="nav navbar-nav" id="main-menu-navigation" data-menu="menu-navigation">
        <li class="dropdown nav-item"><a class="nav-link" th:href="@{/report}" ><i class="icon-home"></i><span data-i18n="nav.category.forms" th:text="#{report}"></span></a>
        </li>
      </ul>
    </div>
    <!-- /horizontal menu content-->
  </div>