## Header that shows institution and/or banner logos

<header role="banner" class="Mrphs-headerLogo">
    <a class="Mrphs-headerLogo--institution" href="/"></a>
    <span class="Mrphs-headerLogo--banner"></span>


    #parse("/vm/morpheus/includeLoginNav.vm")
</header>